<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formuario</title>
</head>
<body>
    <h1 style="color: red; text-align: center; font-size: 4em;">formulario</h1>
    <form action="" method="get">
        <input name="dialogo" type="text" placeholder="digite algo" required>
        <input type="submit" value="Enviar">
    </form>
    <h1><i>Dados recebidos</i></h1>
    <p>{{dialogo}}</p>
</body>
</html>